#root {
    background-color: gray;
}
#header {
    background-color: black;
}
#header label {
    color: brown;
}
#blocpage {
    background-color: brown;
    padding-top: 20px;
    padding-left: 20px;
}
.modalHeader {
    border-bottom: 1px solid #ccc;
    padding: 0 20px 20px;
    color: brown;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
}
.formGroup {
    margin:10px 0px
}
label {
    display: inline-block;
    width: 100px;
}

input {
    width: 300px;
    padding: 5px;
    border:1px solid #ccc;
}
small {
    color: gray;
    font-size: 11px;
    display: inline-block;
    margin-left: 5px;
}
img {
    max-height: 280px;
    object-fit: cover;
}
.rating {
    font-size: 18px;
    text-align: center;
    color:black;
    vertical-align: middle;
}
.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 0.3em solid transparent;
    vertical-align: bottom;
    /* Controlls the size of the stars. */
    font-size: 12px;
  }
  .star:before, .star:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .star:after {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }